<aside id="fh5co-hero" class="js-fullheight">
    <div class="flexslider js-fullheight">
        <ul class="slides">
            <li style="background-image:
                url(../assets/images/products/sg-orange-towelset.png);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3
                        js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">$52.15</span>
                                <h2>Orange Seahorse Bath Towel set</h2>
                                <pre>
Turn your bathroom into your own personal oasis with a custom towel perfect for drying you off in style.

Dimensions: includes 30" x 60" bath towel, 16" x 28" hand towel and 13" x 13" washcloth
Material: front is a polyester blend, back is 100% cotton
Sublimation printing allows for vibrant printing designed to last
Machine washable, tumble dry on low                                   
                               </pre>
                                <p><a href="single.html" class="btn btn-primary
                                        btn-outline btn-lg">Purchase Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image:
                url(../assets/images/products/sg-colorful-clock.png);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3
                        js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">$34.85</span>
                                <h2>Colorful Seahorse Garden Clock</h2>
                                <pre>
It's time to show off your favorite art, photos, and text with a custom round wall clock from Zazzle.
Featured in two sizes, this wall clock is vibrantly printed with AcryliPrint®HD process to ensure the highest quality display of any content. 
Order this custom round wall clock for your walls or give to friends and family as a gift for a timeless treasure.

2 sizes: 8" diameter (medium) or 10.75" diameter (large)
Material: Grade-A acrylic
One AA battery required (not included)
Add photos, artwork, and text
Indoor use only, not recommended for outdoor use
                                </pre>
                                <p><a href="single.html" class="btn btn-primary
                                        btn-outline btn-lg">Purchase Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image:
                url(../assets/images/products/sf-throw.png);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="col-md-6 col-md-offset-3 col-md-pull-3
                        js-fullheight slider-text">
                        <div class="slider-text-inner">
                            <div class="desc">
                                <span class="price">$79.11</span>
                                <h2>Summer Flowers Throw</h2>
                                <pre>
Size: Medium
Cuddle up to warmth and comfort in our most luxurious blanket yet, the Sherpa fleece blanket. 
Perfect for those nights when your baby says "It's cold outside!"

Available in 3 different sizes: small (30"x40"); medium (50"x 60"); large (60"x 80")
Blanket features vividly customized image on one side and the softest Sherpa available on the reverse
Material: 100% polyester printed mink with ultra-soft sherpa backing
Sherpa side is non-customizable and the color is off-white
Edge-to-edge sublimation printing in vibrant full color
Sturdy hand sewn edge stitching for a clean finish
Machine wash separately with warm water, gentle cycle, mild detergent
Tumble dry low; do not iron or dry clean
Wash before first use
                                </pre>
                                <p><a href="single.html" class="btn btn-primary
                                        btn-outline btn-lg">Purchase Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
