<footer id="fh5co-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-12 text-center fh5co-widget">
                <h3>Lotus Petal Home</h3>
                <p>Gifts inspired by nature, love, beauty and art.</p>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <p>
                    <small class="block">&copy; 2022 Lotus Petal Home. All Rights Reserved.</small> 
                </p>
            </div>
        </div>

    </div>
</footer>
